#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content-container {
  padding: 0 2rem; /* Add horizontal padding */
}

.container {
  display: flex;
  flex-direction: row;
}

.banner {
  width: 100vw;
  height: 10vw;
  background-image: url("/images/seagullbanner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1rem;
}

.banner-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.banner-content p {
  font-size: 1.2rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .banner {
    height: 20vw;
  }

  .banner-content h1 {
    font-size: 1.8rem;
  }

  .banner-content p {
    font-size: 1rem;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .banner-content h1 {
    font-size: 1.5rem;
  }

  .banner-content p {
    font-size: 0.8rem;
  }
}

.tabs-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.tabs-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  overflow-x: auto; /* Add horizontal scrolling if the tabs overflow */
  -webkit-overflow-scrolling: touch; /* Improve scrolling experience on iOS devices */
}

.tabs {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Prevent tabs from wrapping */
}

.tabs button {
  margin-right: 0.5rem;
  white-space: nowrap; /* Prevent tabs from wrapping */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .tabs-container {
    padding-top: 0.5rem; /* Reduce top padding on smaller screens */
  }

  .tabs button {
    margin-right: 0.25rem; /* Reduce spacing between tabs */
    padding: 0.5rem; /* Adjust padding of tab buttons */
    font-size: 0.8rem; /* Reduce font size of tab buttons */
  }
}

h1 {
  font-size: 2.5rem; /* Adjust the font size as needed */
}

.lokki-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.lokki-item {
  max-width: 300px; /* Adjust the maximum width as needed */
}

.lokki-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; /* Add rounded corners to the images */
}

.lokki-text {
  margin-top: 1rem;
  font-size: 0.9rem; /* Adjust the font size as needed */
  line-height: 1.4; /* Adjust the line height for better readability */
}

.content-container {
  max-width: 100%;
  min-height: 100vw;
  padding: 0 1rem; /* Adjust the horizontal padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
}

.ag-theme-material {
  height: 80vw;
  width: 60vw;
  margin: 0 auto;
  
}
/* Add media queries for smaller screens */
@media (max-width: 768px) {
  .banner {
    height: 20vw; /* Increase the height of the banner on smaller screens */
  }

  .lokki-container {
    gap: 1rem; /* Reduce the gap between lokki items */
    padding: 1rem; /* Reduce the padding */
  }

  .lokki-item {
    max-width: 100%; /* Make lokki items take full width on smaller screens */
  }
  .ag-theme-material .ag-root-wrapper {
    height: 150vw !important;
    max-width: 85vw;
    padding: 0rem 0rem;
    
  }
}

  @media (max-width: 400px) {
    .ag-theme-material .ag-root-wrapper {
      height: 125vw !important;
      max-width: 85vw;
      padding: 0rem 0rem;
      
    }

  

}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.login-form iframe {
  max-width: 100%;
  max-height: 60vh; /* Adjust the maximum height as needed */
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  .login-form iframe {
    max-height: 40vh; /* Further reduce the maximum height on very small screens */
  }
}

.icon {
  width: 10%;
  height: auto;
  padding: 0 2;
}

